body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    height: 10vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headertext{
    font-size: 46px;
    margin: 10vw;
}

#shelves{
    resize: both;
    overflow: auto;
    display: grid;
    width: 1200px;
    padding: 25px;
    gap: 30px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
}

.book{
    border: solid black;
    border-radius: 8px;
    text-align: left;
    font-size: 1.5rem;
    padding: 12px;
    
}

#header >button{
    margin: 10vw;
    font-size: 36px;
}

.book[data-read='True']{
    background: #00e819
}

.book[data-read='False']{
    background: #ff0101
}


